div,ul,li,dl,dt,dd,img,p,h1,h2,h3,h4,h5,h6,b,span,em,strong,span,i,header,footer,section,aside,input,label,form,button{
	margin: 0;
	padding: 0;
}
html,body{
	/*height:100%;*/
	color: #333;
	font: 0.28rem/1.5 "Microsoft YaHei";
}
ul,li,ol{
	list-style: none;
}
input,button,textarea,label{
	resize: none;
	border: none;
	outline: none;
	font-size: 0.28rem;
	border-radius: 0.05rem;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover,a:focus{
	text-decoration: none;
}
a:focus,button:focus{
	outline: none;
}
.white-bg{
	background: #fff;
}
.red{
	color: #d05253;
}

.gray-wrapper{
	width:100%;
	height:auto;
	position:absolute;
	left: 0;
	top: 0;
	background: #f3f3f3;
	overflow: hidden;
}
